.nav {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #f9f9fa;
  border-top: solid 1px rgba(121, 121, 121, 0.5);
  padding: 20px 40px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification__ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
